.btn {
    font-weight: 400;
    background-color: #4D5B9E;
    color: #F5F7FB;
    width: fit-content;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select:  none;
}

.btn.btn-sm {
    border-radius: 8px;
    font-size: 0.75rem;
    padding: 0.1rem 0.75rem 0.2rem;
}

.btn.btn-sm-l {
    border-radius: 10px;
    font-size: 0.8rem;
    padding: 0.15rem 1rem 0.25rem;
}

.btn.btn-md {
    border-radius: 12px;
    font-size: 1rem;
    padding: 0.2rem 1.25rem 0.4rem;
}

.btn.btn-lg {
    border-radius: 18px;
    font-size: 1.25rem;
    padding: 0.35rem 2.5rem 0.6rem;
}

.btn.btn-br-md {
    border-radius: 10px !important;
}

.btn:hover {
    background-color: #445293;
}

.btn:active {
    opacity: 0.9;
}

.btn span {
    padding-bottom: 2px;
}

.btn.btn-answer {
    background: #F5F7FB;
    border: 1.5px solid #293264;
    color: #293264;
    font-weight: 600;
}

.btn.btn-answer:hover {
    border: 1.5px solid #445293;
    color: #445293;
}

.btn.btn-answer.btn-answer--light {
    opacity: 0.5;
}

.btn.btn-answer.btn-answer--clicked {
    border: 1.5px solid #D6DBF5;
    background: #D6DBF5;
}

.btn.btn-answer.btn-answer--false {
    border: 1.5px solid #F8BCBC;
    opacity: 0.5;
    background: #F8BCBC;
}

.btn.btn-answer.btn-answer--true {
    border: 1.5px solid #94D7A2;
    background: #94D7A2;
    opacity: 1;
}